/deep/ .allot_list {
  .allot_title{
    background: #F5F5F5;
    height 30px
    line-height 30px
    padding 0 5px
    font-size 12px
    display flex
    margin-bottom 10px
    justify-content space-between
    .allot_action{
      color #4083F8
      cursor pointer
    }
  }
  margin-bottom 10px
  .ivu-transfer-list-content-item > span{
    font-size 12px
  }
  .ivu-input{
    font-size 12px
  }
  .ivu-transfer-list-content-item {
    padding 5px 10px
  }
  .ivu-checkbox-wrapper{
    margin-right 0px
  }
  .ivu-checkbox-checked .ivu-checkbox-inner:after{
    top: 1px
    left 4px
  }
  .ivu-transfer-list{
    font-size 12px
  }
  .ivu-checkbox-inner{
    width 14px
    height 14px
  }
  .ivu-transfer-operation {
    margin 0 4px

    .ivu-btn-small {
      padding 0 4px
    }
  }
}
